

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}



a {
  color: inherit;
  text-decoration: none;
}


.navbar {
  width: 100%;
  height: 50px;
  background-color: pink;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 20px;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: pink;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.content {
  flex: 1;
}